.full-layout {
  &.small-sidebar {
    .logo-text {
      opacity: 0;
      transform: translate(-250px) !important;
      transition: transform 0.4s ease-in-out, opacity 0.1s ease-in-out;
    }

    .menu-list {
      .menu-link {
        .menu-text {
          opacity: 0;
          transform: translate(-250px) !important;
          transition: transform 0.4s ease-in-out, opacity 0.1s ease-in-out;
        }
      }
    }
  }
  &.full-sidebar {
    .logo-text {
      opacity: 1;
      transform: translate(0) !important;
      transition: transform 0.1s ease-in-out, opacity 0.4s ease-in-out;
    }
    .menu-list {
      .menu-link {
        .menu-text {
          opacity: 1;
          transform: translate(0) !important;
          transition: transform 0.1s ease-in-out, opacity 0.4s ease-in-out;
        }
      }
    }
  }
  &.fixed-sidebar {
    .overlay {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0, 0.3);
    }
    .sidebar {
      transform: translateX(0);
      width: 16rem;
      height: 100vh;
      z-index: 1;
    }
  }
  .overlay {
    transition: all 0.6s ease-in-out;
  }
  .sidebar {
    // transition: width 9.3s ease-in-out;
    .logo-text {
      // transform: translate(0px);
      // transition: opacity .1s  ease-in-out, transform .3s ease-in-out;
      // transition: transform .3s ease-in-out;
      // transition: opacity 5s ease-in-out;
    }
  }
}

//   .sidebar {
//     transition: width .3s ease-in-out;
//     .logo-text {
//       transition: opacity .2s ease-in-out,  transform .12s ease-in-out;
//     }
//     &.fixed-sidebar {
//       position: fixed;
//       width: 16rem;
//       height: 100rem;
//     }
//   }

// .small-sidebar {
//   .logo-text {
//     opacity: 0;
//     transform: translate(-250px);
//     transition: opacity .1s ease-in-out,  transform 2.4s ease-in-out;
//   }
// }

// .full-layout {
//   .overlay {
//     transition: all .6s ease-in-out;
//   }
// }

// .fixed-sidebar {
//   position: relative;
//   .overlay {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background-color: rgb(0, 0, 0, .3);
//   }
//   .sidebar {
//     transform: translateX(0);
//     width: 16rem;
//     height: 100vh;
//     z-index: 1;
//   }
// }
